.button{
    padding: 10px 25px;
    border: 1px solid #9C9C42;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;

}
.button svg{
    margin-right: 10px;
}
.button span{
    color: #9C9C42;
    font-weight: 500;
    line-height: 150%;
    font-size: 18px;
    vertical-align: 6px;
}