/*---HEADER------------------------------------*/

.header{
    position: relative;
  }
  .header__logo{
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 99;
    background-color: white;
  
  }
  .header__nav{
    flex: 1 1 auto;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
  }
  .nav__list{
    display: flex;
    padding: 40px 0 40px 260px;
  }
  .nav__list li{
    padding: 0 20px;
    cursor: pointer;
  }
  .nav__right{
    display: flex;
    padding: 35px 0;
  }
  .nav__right li:not(:last-child){
    margin-right: 20px;
  }
  .nav__search{
    display: flex;
    cursor: pointer;
  }
  .nav__search input{
    display: none;
  }
  .nav__line{
    width: 1px;
    background-color: #999898;
  }
  .nav__cart{
    cursor: pointer;
  }