/*---HEADER------------------------------------*/

.header{
    position: relative;
  }
  .header__logo{
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 99;
    background-color: white;
  }
  .header__logo img{
    width: 150px;
    height: 150px;
  }
  .header__nav{
    flex: 1 1 auto;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
  }
  .nav__list{
    display: flex;
    padding: 40px 0 40px 260px;
  }
  .nav__list li{
    padding: 0 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  .nav__list li:hover{
    box-shadow: 0 0 0 1px #cfcece;
    border-radius: 10px;
  }
  .nav__right{
    display: flex;
    padding: 35px 0;
  }
  .nav__right li:not(:last-child){
    margin-right: 20px;
  }
  .nav__search{
    display: flex;
    cursor: pointer;
  }
  .nav__search input{
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    margin-right: 10px;
    padding: 5px 8px;
    width: 150px;
  }
  .nav__line{
    width: 1px;
    background-color: #999898;
  }
  .nav__cart{
    cursor: pointer;
  }
  @media (max-width: 1024px){
    .nav__list{
      display: none;
    }
    .nav__right{
      padding-left: 260px;
    }
  }
  @media (max-width: 768px){
    .header__logo img{
      width: 110px;
      height: 110px;
    }
    .header__logo {
      padding: 15px;
    }
    .nav__right{
      padding-left: 200px;
    }
  }
  @media (max-width: 635px){
    .nav__search{
      display: none;
    }
    .nav__line{
      display: none;
    }
  }
  @media (max-width: 320px){
    .nav__right{
      padding-left: 180px;
    }
  }
  /*--------------------------------------------*/

  .nav__burger{
    display: none;
    border: 0;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 40px 10px;
  }
  .ico__burger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #262626;
    margin: 0 auto;
}
.ico__burger:not(:last-child) {
    margin-bottom: 6px;
}
@media (max-width: 1024px){
  .nav__burger{
    display: block;
  }
}