* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: #262626;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #262626;
  font-size: 18px;
  line-height: 150%;
}
.wrapper{
 
}
.container{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 0 55px;
}
.content{
  padding-top: 150px;
}
.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
}
.title span{
  color: #9C9C42;
}
/*---HEADER------------------------------------*/

.header{
  position: relative;
}
.header__logo{
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 99;
  background-color: white;

}
.header__nav{
  flex: 1 1 auto;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}
.nav__list{
  display: flex;
  padding: 40px 0 40px 260px;
}
.nav__list li{
  padding: 0 20px;
  cursor: pointer;
}
.nav__right{
  display: flex;
  padding: 35px 0;
}
.nav__right li:not(:last-child){
  margin-right: 20px;
}
.nav__search{
  display: flex;
  cursor: pointer;
}
.nav__search input{
  display: none;
}
.nav__line{
  width: 1px;
  background-color: #999898;
}
.nav__cart{
  cursor: pointer;
}

/*---FOOTER------------------------------------*/

.footer{
  background-color: #9C9C42;
  color: white;
  font-size: 14px;
  line-height: 220%;
}
.footer a{
  color: white;
}
.footer__lists{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.footer__lists li:first-child{
  margin-bottom: 15px;
}
.footer__lists li b{
  font-weight: 600;
}

/*---HOME------------------------------------*/

.main{
  background-image: url(/public/images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  color: white;
  height: 600px;
  position: relative;
}
.main .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main__title{
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
}
.main__subtitle{
  margin-bottom: 35px;
  line-height: 150%;
}
.main__button a{
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 13px 25px;
  border: 1px solid white;
}
/*---SHOP------------------------------------*/
.shop{
  background-color: #E5E5E5;
}
.shop__title{
  margin-bottom: 15px;
}
.shop__items{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 45px;
}

/*---ABOUT------------------------------------*/
.about__title{

}
